{% extends 'books/base_books.html' %}

{% load crispy_forms_tags %}

{% block books_app_content %}
<div class="bg-light m-2 p-2 rounded">
  <form method="POST" action="{{ action }}">

    {% csrf_token %}
    {{ form|crispy }}

    {% if create %}
        <button type="submit" class="btn btn-primary">Add</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-danger" href="{% url 'books:delete' object.pk %}">Delete</a>
    {% endif %}

  </form>
</div>
{% endblock books_app_content %}
