 <form class="d-flex" action="{{ action }}">
        <input class="form-control me-2"
               type="text"
               placeholder="Search"
               aria-label="Book title"
               name="search"
               value="{{ search }}">
        <input class="form-control me-2"
               type="text"
               placeholder="Title"
               aria-label="Book title"
               name="intitle"
               value="{{ intitle }}">
        <input class="form-control me-2"
               type="text"
               placeholder="Author"
               aria-label="Book author"
               name="inauthor"
               value="{{ inauthor }}">
        <button class="btn btn-outline-secondary"
                type="submit">
                Search
        </button>
 </form>
