body {
    padding-top: 65px;
    padding-bottom: 85px;
}

.main-content {
    max-width: 1200px;
    height: 100%;
}

.cover-frame {
  width: 120px;
  height: 120px;
  padding: 5px;
  box-sizing: border-box;
}

.cover-image {
    max-width:110px;
    max-height:110px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  }
